@charset 'utf-8';
/* コメント欄からメールアドレスを消す */
.comments .column-author a{
	display:none;
}

#replyrow label[for=author-email],
#replyrow #author-email{
	display:none;
}

table.editcomment a,
table.editcomment #email{
	display:none;
}
table.editcomment tr:nth-child(2){
	display:none;
}
/* 抜粋を縦に長くする */
#postexcerpt #excerpt{
	height: 100px;
}