$nav-padding: 15px;

.footer {
  &-wrapper {
	  border-top: 1px solid $gray-200;
	  padding-top: $nav-padding * 3;
  }
  &-hametuha{
    font-size: 60px;
    margin: 0 0 20px;
  }

  // 購読エリア
  &-subscription {
    padding-bottom: 20px;
    h3 {
      margin-top: 0;
    }
    i{
      display: inline-block;
      font-size: 64px;
      margin-bottom: 10px;
    }
    .col-sm-3 {
      @media only screen and (max-width: $screen-xs-max) {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $navbar-default-border;
        &:nth-child(1),
        &:nth-child(2){
          margin-top: 0;
          border-top: none;
        }
        &:nth-child(3){
          clear: left;
        }
      }
    }
  }

  &-links {
    &-wrapper{
      background: $white;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-nav {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0.25em 1em;
        a{
          &:link,
          &:visited{
            color: $gray-600;
            text-decoration: underline;
          }
          &:hover,
		  &:active{
            color: $gray-300;
            text-decoration: none;
          }
        }
      }
    }
  }

  // 著作権情報
  &-copynote {
    background: $white;
    color: #888;
    .copy-right {
      margin: 0;
      height: 60px;
      line-height: 60px;
      font-size: 11px;
    }
  }
}

// 投稿ページ
#footer-single {
  background-color: $navbar-default-bg;
  border-top: $navbar-default-border;
}
