.front-container {
	padding-top: $navbar-height + $subnavbar-height;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h1 + p {
		color: $white;
		text-shadow: 0 0 5px $black;
	}

	& + .front-container {
		padding-top: 0;
	}

	.jumbotron {
		@include border-radius(0);
		background-color: transparent;

		&:after {
			content: none;
		}
	}

	h2 {
		font-family: $work-title;
	}

	.frontpage-widget {
		font-family: $work-body;
		$widget-padding: 40px;

		.col-sm-4 {
			padding-bottom: $widget-padding;
		}

		h2 {
			@extend .list-title;
		}

		img {
			width: auto;
			height: auto;

			&.avatar {
				width: 30px;
				height: 30px;
			}
		}

		.btn {
			font-family: sans-serif;
		}

		.widget {
			&_sp_image-description {
				color: $shade-font;
				margin-top: 10px;
			}

			&-twitter {
				height: 400px + $widget-padding;
			}

			&-facebook {
				& > div {
					width: 100%;
					height: 230px;
				}
			}
		}
	}

	.share-panel {
		margin: 60px 0;
	}
}

// レーダー
#genre-context {
	max-width: 100%;
	height: 300px;
}

// 破滅派について
#about-us {
	padding-bottom: 80px;

	h3 {
		text-align: center;
	}

	p.icon {
		height: 180px;
		line-height: 180px;
		text-align: center;

		i {
			font-size: 120px;
			color: $shade-font;
		}
	}

	.caption {
		font-family: $work-body;
	}
}
