// インジケーター
%loading-indicator, .loading {
	&::before {
		content: "";
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(255, 255, 255, .6);
		z-index: 10;
	}

	&::after {
		content: "";
		display: block;
		$size: 100px;
		position: absolute;
		z-index: 11;
		width: $size;
		height: $size;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: transparent url("../img/ripple.gif") center top no-repeat;
		background-size: cover;
	}
}
