// タグ関連のデザイン

.term-link {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 15px;
	border: 1px solid currentColor;
	color: $shade-font;
	margin-right: 0.5em;

	&:last-child{
		margin-right: 0;
	}

	&:link,
	&:visited {
		text-decoration: none;
		color: $shade-font;
	}

	&:hover,
	&:active {
		background-color: $shade-font;
		color: $white;
	}

	&-sm {
		font-size: $font-size-sm;
		padding: 0.2em 0.25em;
	}
}
