.doujin{

  &__row{
    margin: 20px 0;
    padding: 20px 0;
    &--activity,
    &--kdp{
      background: #f9f9f9;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    &--activity{
      margin-top: 0;
    }
  }

  &__img{
    max-width: 100%;
    width: auto;
    height: auto;
    @media only screen and (max-width: $screen-xs-max){
      max-width: 150px;
    }
  }

  &__links{
    padding-left: 0;
    li{
      margin: 0.5em 0;
      list-style: none;
    }
  }

  &__favorites{
    dd{
      margin-bottom: 0.5em;
    }
  }

  &__item{
    &--title{
      font-size: 18px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px dotted #ddd;
    }
    &--chart{
      height: 300px;
    }
  }

  &__activities{
    padding-left: 0;
  }
  &__activity{
    list-style: none;
    border-bottom: 1px dotted #ddd;
    a{
      margin: 5px 0;
      padding: 10px;
      display: block;
      &:link, &:visited{
        text-decoration: none;
      }
      &:active{
        text-decoration: none;
        background: #fff;
        border-radius: 3px;
      }
    }
  }
}

// Button
.btn-follow{
  .remove, .loading{
    display: none;
  }
  &.btn-following{
    .remove{
      display: inline;
    }
    .add{
      display: none;
    }
  }
  &--loading{
    .remove, .add{
      display: none !important;
    }
    .loading{
      display: inline !important;
    }
  }
}


.follower{
  &__alert{
    margin: 2em 0;
  }
  &__container{
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 300px;
    &--loading{
      @extend %loading-indicator;
    }
  }
  &__wrap{
    padding: 2em 0;
  }
  &__item{
    list-style: none;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ddd;
    &:nth-child(even){
      background-color: #f9f9f9;
    }
  }
  &__name{

  }
  &__label{
  }
  &__avatar{
    max-width: 96px;
    width: auto;
    height: auto;
    @media only screen and (max-width: $screen-xs-max){
      max-width: 100%;
    }
  }
}

.wpg-connect-table{
  th{
    font-size: 1em;
    display: block;
    padding: 0;
    i{
      font-size: 1.6em;
    }

  }
  td{
    display: block;
    padding: 0 0 10px;
    border-bottom: 1px dotted #ddd;
  }
}

.author-group {
	margin: 40px 0 80px;

	&-header {
		@extend .dividing-header !optional;
	}

	&-list {
		margin: 20px 0 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 20px;

		&-item {
			flex: 0 1 calc( 25% - 15px );
			list-style: none;
			position: relative;
			border: 1px solid $thin-border;
			background-color: #fdfdfd;
			box-sizing: border-box;
			padding: 20px;
			border-radius: 5px;

			&:hover {
				background-color: #fff;
				border-color: #000;
			}

			@media screen and ( max-width: 767px ) {
				flex: 0 1 100%;
			}
		}

		&-avatar {
			width: 96px;
			height: 96px;
			border-radius: 50%;
			object-fit: cover;
			display: block;
			margin: 0 auto 20px;
		}

		&-link {
			display: block;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			&:link,
			&:visited {
				text-decoration: none;
				color: $text-color;
			}
			&:hover,
			&:active {
				text-decoration: none;
				color: $text-color;
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		&-description {
			margin: 10px 0;
		}

		&-role {
			display: block;
			margin-top: 10px;
			color: $gray-light;
		}

		&-meta {
			font-size: 0.8em;
		}

		&-flag {
			display: inline-block;
			margin-right: 1em;
			padding: 5px 10px;
			background-color: $brand-success;
			color: #fff;
			border-radius: 5px;
		}
	}
}

.search-author-link {
	margin: 40px 0;
}
