// アイデアシングル
.ideas {

	&__row {
		padding-top: 20px;
	}

	&__title {
		font-family: $work-bold;
		font-weight: normal;
		font-size: 3.6em;
		@include media-breakpoint-down(lg) {
			font-size: 2.4em;
		}
		@include media-breakpoint-down(sm) {
			font-size: 2.0em;
		}

		small {
			font-size: 16px;
		}

		&--meta {
			small {
				font-size: 16px;
			}
		}

	}

	&__meta {
	}

	&__list {
		padding: 0;
		margin: 20px 0 40px;
	}

	&__item {
		list-style: none;
		display: inline-block;
		margin-right: 1em;

		i {
			color: #888;
		}
	}

	&__owning {
		margin-bottom: 20px;
	}

	&__body {
		margin: 0 0 40px;
		font-family: $work-body;
		font-size: 2em;
		position: relative;
		@media only screen and (max-width: $screen-xs-max) {
			font-size: 1.6em;
		}

		.alert {
			font-family: $work-body-sans;
			font-size: 0.65em;
			width: 90%;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 0 5px 10px rgba(0, 0, 0, .2);
		}

		&--hide {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, .8);
		}
	}

	&__actions {
		margin-bottom: 20px;
		@media only screen and (max-width: $screen-xs-max) {
			.col-xs-12 {
				margin: 10px 0;
			}
		}
	}

	&__statictic {
		margin-bottom: 40px;
	}

	&__stockers {
		padding: 0;
	}

	&__stocker {
		display: inline-block;
		margin-right: 1.5em;
		list-style: none;
		margin-bottom: 20px;

		img {
			@extend .img-circle;
		}
	}
}

.idea-stocked {
	color: $pink;
}

// 一覧ページ
.card-idea {
	.card-title {
		font-weight: $font-weight-bold;
	}
}
