// User picker
.user-picker {

	&__input {
		.filled & {
			display: none;

		}
	}

	&__placeholder {
		padding: 0;

		&.empty:after {
			content: "該当するものが見つかりませんでした";
			display: block;
			text-align: center;
			@extend .text-warning;
			margin: 1em 0;
		}
	}

	&__loader {
		display: none;
		padding: 20px;
		background: url('../img/ajax-loader-big.gif') center center no-repeat;
		background-size: 33px 33px;

		.loading + & {
			display: block;
		}
	}

	&__item {
		list-style: none;
		position: relative;
		border-bottom: 1px solid $gray-500;
		&:last-child {
			border-bottom: none;
		}

		a {
			display: block;
			padding: 10px;

			&.active {
				background-color: $gray-100;

				i {
					transform: translate(0, -50%);
					display: inline-block;
				}

				&:hover, &:active {
					i {
						color: $brand-danger;
					}
				}
			}

			&:link,
			&:visited {
				text-decoration: none;
			}

			&:hover,
			&:active {
				text-decoration: none;
				background: $white;
			}
		}

		img {
			@extend .img-circle;
			width: auto;
			height: auto;
			max-width: 40px;
			margin-right: 0.5em;
		}

		i {
			position: absolute;
			top: 50%;
			right: 20px;
			display: none;
		}
	}
}
