.widget-tax-list {
	margin: 0;
	padding: 0;

	& & {
		padding-left: 2em !important;
		margin-bottom: 0 !important;
		padding-bottom: 0;
		border-top: 1px solid #eee;
	}

	li {
		border-bottom: 1px solid #eee;
		margin: 0;

		&:last-child {
			border-bottom: none;
		}

		a {
			display: block;
			padding: 5px 10px;
		}

		small {
			display: inline-block;
			margin-left: 0.5em;
			padding: 2px 5px;
			background-color: $gray-200;
			color: $black;
			border-radius: 3px;
			font-size: 0.6em;
			font-weight: $font-weight-bold;
			vertical-align: text-top;
		}

		a:link,
		a:visited {
			text-decoration: none;
			color: $link-color;
		}
		a:hover,
		a:active {
			background-color: $link-color;
			color: $white;
			text-decoration: none;
		}
	}

	&-item {

	}

}
