@charset 'utf-8';
@import url('css/reset-min.css');

/*clearfix*/
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}
.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end MacIE5 */
/*====clear style====*/

body.mceContentBody{
	word-wrap:break-word;
	text-align:justify;
	text-justify: inter-ideograph;
	font-family: 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', "IPA P明朝", "細明朝体","ヒラギノ明朝体3","メイリオ",'Meiryo', 'MS Pゴシック', serif;
	color:#333;
	display:block;
	margin:0 auto;
	background:#fff;
	padding:10px;
	font-size:18px;
	line-height:1.8;
	letter-spacing: -1px;
}
body.mceContentBody a:link{text-decoration:underline; color:#06c;}
body.mceContentBody a:visited{text-decoration:underline; color:#385bcc;}
body.mceContentBody a:hover{text-decoration:none; color:#b01f24;}
body.mceContentBody a:active{text-decoration:none; color:#b01f24; overflow:hidden;}
body.mceContentBody a{overflow:hidden;}

body > p{
	text-indent: 1em;
}
	h2{
		font-size:1.8em;
		color:#00284f;
		margin:1em 0 0.5em;
		font-weight: bold;
	}
	h3{
		font-size:1.5em;
		font-weight: bold;
		margin:1em 0 0.5em;
	}
	h4{
		font-size:1.2em;
		font-weight: bold;
		margin:1em 0 0.5em;
		color:#001931;
	}
	h5{
		font-weight: bold;
		margin:1em 0 0.5em;
		color:#001931;
		font-style: italic;
	}
	ul,
	ol,
	dl{
		margin: 1em 0;
		}
		li{margin-left:2.5em;}
			ol li{list-style: decimal outside;}
			ul li{list-style: circle outside;}
			dt{
				padding-bottom: 5px;
				margin-bottom:5px;
				color:#707070;
				font-weight: bold;
				border-bottom:1px dotted #707070;
			}
			dd{
				margin-bottom:1em;
				margin-left:1em;
			}
	 blockquote{
		color:#666;
		border-top:1px dotted #ddd;
		border-bottom:1px dotted #ddd;
		margin:1em 0 1em 1em;
		padding:0.5em 1em;
		background: url(assets/img/tag-blockquote.gif) 0 5px no-repeat;
		} blockquote cite{
			font-size:0.7em;
			display: block;
			text-align: right;
			border-bottom: none;
		}
/* Typo graphy*/
strong{
	font-weight: bold;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ",'Meiryo',sans-serif;
}
em{
	font-weight: bold;
}
ins{
	color:#666;
	font-size:0.8em;
	text-decoration: none;
	border-bottom: none;
	}
	ins:before{
		content:'〔';
	}
	ins:after{
		content: '〕';
	}
del{
	color:inherit;
	text-decoration: line-through;
	}
small{
	
	}
	small:before{
		content:'（';
	}
	small:after{
		content:'）';
	}
	
q{
		
	}
	q:before{
		content:'〝'
	}
	q:after{
		content:'〟'
	}
rt{
	font-size:0.5em;
	}
.text-emphasis{
	-webkit-text-emphasis-style: filled sesame;
	text-emphasis-style: filled sesame;
	}
/* Caption */
.wp-caption{
	clear: both;
	margin: 1em 0;
}
.wp-caption-text{
	font-size:0.75em;
	line-height:1.1;
	color:#666;
	margin-top:0.5em;
}
.alignleft{
	float:left;
	margin:1em 1.5em 1em 0;
}
.alignright{
	float:right;
	margin:1em 0 1em 1.5em;
}
.aligncenter{
	margin:1em auto;
}
	