// Load wpametu's animation
@import "../../wpametu/assets/scss/animations";

// Original animations


// ボタンの背景色が明滅
@include keyframes( blinker ){
  0%, 100% {
    background-color: $footer-navbar-bg;
  }
  50% {
    background-color: $brand-danger;
  }
}


// 背景色が点滅

@include keyframes( ranker ){
  0%, 100%{
    color: yellow;
  }
  50%{
    color: orange;
  }
}