// パディング
$canvas-pad: 20px;

// メインコンテナの設定
.container{
  &.archive{
    padding-bottom: $canvas-pad;
  }
  .row-offcanvas,
  .sidebar-offcanvas{
    padding-top: $canvas-pad;
  }
  .row-offcanvas{
    z-index: 1;
  }
  .sidebar-offcanvas{
    z-index: 2;
    background-color: #fff;
  }
}

// パンクズ
#breadcrumb{
  position: relative;
  padding-top: $navbar-height;
  background-color: lighten($navbar-default-border, 2);
  border-bottom: 1px solid $navbar-default-border;
  z-index: 1;
}

// Offcanvas
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media only screen and (max-width: $screen-xs-max) {

  $offcanvas-width: 75%;

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
    .sidebar-offcanvas {
      right: $offcanvas-width * -1; /* 6 columns */
    }
  }

  .row-offcanvas-left {
    left: 0;
    .sidebar-offcanvas {
      left: $offcanvas-width * -1; /* 6 columns */
    }
  }

  #offcanvas-toggle{
    position: absolute;
    left: -40px;
    top: $canvas-pad / 2;
    @include border-radius(0);
    i{
      margin-right: 0.5em;
    }
    .icon-arrow-right2{
      display: none;
    }
  }

  .offcanvas-on{
    .row-offcanvas-right{
      right: $offcanvas-width; /* 6 columns */
      .row-offcanvas-left{
        left: $offcanvas-width; /* 6 columns */
      }
    }
    .main-container, #footer{
      opacity: 0.3;
      [data-toggle="offcanvas"]{
        opacity: 1.0;
      }
    }
    .sidebar-offcanvas {
      @include box-shadow(-5px 0 20px 20px rgba(0, 0, 0, .2));
    }
    #offcanvas-toggle{
      .icon-arrow-left{
        display: none;
      }
      .icon-arrow-right2{
        @include inline-block();
      }
    }
  }


  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $offcanvas-width; /* 6 columns */
  }
}
