/*!
 * Admin file for Hametuha
 *
 * @package hametuha
 */

@import "animation";
@import "admin/stats";

.post-state-format{
  display: none;
}

.image-picker{
  p.image-holder{
    margin-bottom: 1em;
    max-width: 200px;
    img, span{
      vertical-align: middle;
    }
    .dashicons{
      color: #ccc;
    }
  }
}

.wpametu-meta-table{
  #excerpt{
    height: 8em !important;
  }
}

.misc-pub-section{
  .dashicons{
    color: #82878c;
  }
}
