/*!
 * Admin file for Hametuha
 *
 * @package hametuha
 */
$break-point: 782px;

@mixin small-screen() {
  @media only screen and (max-width: $break-point){
    @content;
  }
}

.post-state-format{
  display: none;
}

.image-picker{
  p.image-holder{
    margin-bottom: 1em;
    max-width: 200px;
    img, span{
      vertical-align: middle;
    }
    .dashicons{
      color: #ccc;
    }
  }
}

.wpametu-meta-table{
  #excerpt{
    height: auto !important;
  }
}

.misc-pub-section{
  .dashicons{
    color: #82878c;
  }
  p.description{
    margin: 10px 0;
  }
  .block{
    display: block;
    &.hidden{
      display: none;
    }
    margin: 5px 0;
  }
}

div.admin-notice{
  margin: 10px 20px 0 2px;
  .wrap &{
    margin:5px 0 15px;
  }
  background: #fff;
  border-left: 4px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 1px 12px;
  &--info{
    border-left-color: #7090ff;
    .dashicons{
      color: #7090ff;
    }
  }
}

// Sortable
#series-posts-list{
  padding: 0;
  counter-reset: series-order;
  li{
    margin: 0;
    padding: 0.5em 40px 0.5em 3em;
    list-style: none;
    background: #fff;
    position: relative;
    &:nth-child(odd){
      background: #f9f9f9;
    }
    $size: 32px;
    &:before{
      counter-increment: series-order;
      display: block;
      width: $size;
      text-align: center;
      min-width: $size;
      content: counter(series-order);
      position: absolute;
      left: 0.5em;
      color: #ccc;
      top: 50%;
      margin-top: $size / -2;
      height: $size;
    }
    &.sortable-placeholder{
      height: $size;
      border: 5px dashed #ddd;
      padding: 0.5em;
    }
    .dashicons{
      cursor: move;
      position: absolute;
      right: 0.5em;
      top: 50%;
      font-size: $size;
      margin-top: $size / -2;
    }
    input[type=text]{
      width: 80%;
    }
  }
}

.widefat .column{
  &-thumbnail{
    padding: 0;
    width: 60px;
  }
  &-menu_order{
    padding: 0 0.5em;
    width: 4em;
    text-align: center;
    vertical-align: middle;
    span{
      vertical-align: middle;
    }
  }
  &-payable{
    width: 2em;
  }

}
.post-list-thumbnail{
  max-width: 60px;
  width: auto;
  height: auto;
}

.sidemeta{
  &__table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    th, td{
      border: 1px solid #ccc;
      padding: 0.5em;

    }
    &--regulation{
      th{
        text-align: right;
        background: #d9d9d9;
      }
    }
  }
}

.hametuha-tag {
  &-label {
    display: block;
  }
  &-extra{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    &+span{
      color: #888;
      font-size: 0.85em;
    }
  }
}
.taxonomy-check{
  &-list{

  }
  &-label{
    display: block;
  }
}

.user-reward-select{
  width: 90%;
}
.user-selector-item{
  img{
    max-width: 24px;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
}