/*!
 * Admin file for Hametuha
 *
 * @package hametuha
 * @handle hametuha-admin
 */
$break-point: 782px;

$danger: #dc3232;
$warning: #eb763c;

@mixin small-screen() {
	@media only screen and (max-width: $break-point) {
		@content;
	}
}

%delete-link {
	transition: color .3s linear;
	&:link,
	&:visited {
		color: $danger;
		text-decoration: underline;
	}
	&:hover,
	&:active {
		color: lighten($danger, 10);
		text-decoration: underline;
	}
}

@import "admin/*";
