$amp-pad: 16px;

%amp-container{
  padding: 0 $amp-pad;
}

%clearfix{
  &:after{
    content: "";
    display: block;
    clear: left;
  }
}

%list-line{
  list-style: none;
  border-bottom: 1px solid #ddd;
  &:first-child{
    border-top: 1px solid #ddd;
  }

}

%button-link{

  font-size: 0.85em;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #06c;
  background: #f9f9f9;
  border-radius: 5px;
  transition: color .2s linear, background .2s linear;
  display: inline-block;
  &:link, &:visited{
    color: #06c;
    text-decoration: none;
    background: #fff;
  }
  &:hover, &:active{
    color: #fff;
    text-decoration: none;
    background: #06c;
  }
}

.amp-hametuha{
  &-title{
    line-height: 1.5em;
    margin: 1.5em 0 0.5em;
    padding: 0 $amp-pad .25em;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    font-weight: normal;
  }

  &-excerpt{
    @extend %amp-container;
    margin: 10px 0;
    font-weight: bold;
    color: #444;
    p{
      margin: 0 0 10px;
      line-height: 1.1;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &-muted{
    color: #ccc;
    padding: 5px;
    margin: 0;
  }

  &-related{
    &-item{
      margin: 0;
      padding: 0;
      @extend %list-line;
    }
    &-link{
      display: block;
      @extend %clearfix;
      @extend %amp-container;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      &:hover{
        background-color: #f9f9f9;
      }
    }
    &-img{
      width: 100px;
      float: left;
    }
    &-body{
      margin-left: 100px + $amp-pad;
    }
    &-title{
      font-size: 1em;
      color: #000;
      font-weight: normal;
      margin: 0 0 5px;
    }
    &-meta{
      margin: 0;
      color: #888;
      font-size: 0.85em;
    }
  }

  &-books{
    @extend %clearfix;
    &-item{
      list-style: none;
      width: 33%;
      float: left;
      margin: 0 0 10px;
      box-sizing: border-box;
      padding: 5px;
    }
    &-link{
      display: block;
      &:link, &:visited{
        text-decoration: none;
        color: #666;
      }
      &:hover, &:active{
        text-decoration: none;
        opacity: .8;
      }
    }
    &-img{
      body & img{
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }


  &-links{
    margin: 16px 0 0;
    &-item{
      margin: 0;
      @extend %list-line;
    }
    &-link{
      @extend %amp-container;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      &:after{
        content: "❯";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
      }
      &:link, &:visited{
        text-decoration: none;
        color: #06c;
      }
      &:hover, &:active{
        text-decoration: none;
        background: #06c;
        color: #fff;
      }
    }
  }

  &-tag{

    &-list{
      @extend %amp-container;
    }

    &-link{
      @extend %button-link;
    }

  }

  &-category{
    &-link{
      @extend %button-link;
    }
  }
}
nav.amp-wp-title-bar {
  padding: 0 10px;
  background: #f9f9f9;
}
nav.amp-wp-title-bar a {
  background: transparent url( '../img/hamenew-logo.png' ) center 10px no-repeat;
  background-size: 90px 50px;
  display: block;
  padding: 65px 0 10px;
  width: 100%;
  margin: 0 auto;
  color: #666;
  text-align: center;
}

nav.amp-wp-title-bar div {
  line-height: 1.1;
  font-size: 12px;
}
.amp-wp-content{
  color: #222;
  border-top: 1px solid #ddd;
}
.tmkm-amazon-view{
  border-top: 3px double #ddd;
  border-bottom: 3px double #ddd;
  margin: 10px 0;
  padding: 10px;
  font-size :0.85em;
}
.tmkm-amazon-img amp-img{
  margin: 0 auto;
}
.tmkm-amazon-view p{
  margin: 0.25em 0;
}

.amp-footer-content{
  text-align: center;
  font-size: 12px;
  color: #000;
  background: #FBF0E4;
  padding: 20px;
}

body{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  padding-bottom: 0;
}

.amp-ad{
  &-container{
    margin: 10px -16px;
    text-align: center;
  }
  &-wrapper{
    margin: 0 16px;
  }
}
footer{
  h2 small{
    font-size: 0.75em;
    color: #888;
    margin-left: 0.5em;
  }
  p{
    margin: 0;
  }
}