/*!
 * Login helper.
 *
 * @package hametuha
 * @handle hametuha-login-screen
 * @deps login
 */

// Bootstrap.
@import "functions";

// Default variable overrides.
@import "custom/variables";
@import "custom/mixins";
// Bootstrap.
@import "variables";
@import "mixins";

// Use buttons.
@import "custom/components/bs_buttons";

$color-red: $danger;
$color-orange: $warning;

body {
	background-color: $gray-100;
}

.login h1 a {
	transition: opacity .2s ease-in-out;

	&:hover {
		opacity: .6;
	}
}

div#login {

	form {
		border-radius: $border-radius-lg;
		border: none;
		box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	}

	.button-primary {
		font-weight: $font-weight-bold;
		background-color: $primary;
		border-color: $primary;
	}
}

.login-form {

	&-divider {
		border: none;
		height: 0;
		display: block;
	}

	&-title {
		display: flex;
		align-items: center;
		color: #ccc;
		margin: $gutter 0;
		&::before,
		&::after {
			border-top: 1px solid $thin-border;
			content: "";
			flex-grow: 1;
		}
		&::before {
			margin-right: 1rem;
		}
		&::after {
			margin-left: 1rem;
		}
	}

	&-recaptcha {
		margin: 0 5 $gutter-sm;
		.g-recaptcha > div {
			margin: 0 auto;
		}
	}

}

.login {

	.message {
		border-left-color: $primary;
	}

	#login_error {
		border-left-color: $danger;
	}

	&-tagline {
		color: $gray-600;
		text-align: center;
		+ p {
			margin-top: $gutter-xs;
		}
	}

	form {

		#reg_passmail {
			margin-bottom: $gutter-md;
			color: $color-orange;
			text-align: center;
		}

		.forgetmenot {
			margin-bottom: $gutter-md !important;
		}

		p.submit {
			margin-top: $gutter-md !important;
			input.button-primary {
				height: auto;
				box-sizing: border-box;
				width: 100%;
				padding: $gutter-xs 0;
				display: block;
				float: none;
			}
		}
	}
}

.login-action-register #user_login {
	margin-bottom: 5px;
	+ span {
		display: block;
		margin-bottom: 16px;
		color: $gray-600;
		font-size: $font-size-sm;
	}
}

.login-note {
	width: 280px;
	padding: $gutter-sm 0 $gutter;
	margin: $gutter-sm auto 0;
	border-top: 1px solid $gray-300;
	text-align: center;

	&-text {
		text-align: left;
		color: $more-shade-font;
		display: block;
		margin-bottom: $gutter-sm;
		font-size: $font-size-base;
	}
}
