$color-red: #d54e21;
$color-orange: #d54e21;
$gap: 8px;

.login-form {

  &-divider {
    border: none;
    height: 0;
    display: block;
  }

  &-title {
    display: flex;
    align-items: center;
    color: #ccc;
    margin: $gap * 4 0;
    &:before,
    &:after {
      border-top: 1px solid #eee;
      content: "";
      flex-grow: 1;
    }
    &:before {
      margin-right: 1rem;
    }
    &:after {
      margin-left: 1rem;
    }
  }

  &-recaptcha {
    margin: 0 $gap*-3 $gap * 2;
    .g-recaptcha > div {
      margin: 0 auto;
    }
  }

}

.login {

  &-tagline{
    color: #888;
    text-align: center;
    & + p{
      margin-top: 10px;
    }
  }

  form {

    #reg_passmail {
      margin-bottom: $gap * 2;
      color: $color-orange;
      text-align: center;
    }

    .forgetmenot {
      margin-bottom: $gap * 2 !important;
    }

    p.submit {
      margin-top: $gap * 2 !important;
      input.button-primary {
        height: auto;
        box-sizing: border-box;
        width: 100%;
        padding: $gap 0;
        display: block;
        float: none;
      }
    }
  }
}