<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="hametuha-test">
			<directory prefix="Test_" suffix=".php">./tests/</directory>
			<exclude>./tests/Test_Sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
