.epub-creators{

  -webkit-writing-mode: horizontal-tb;

}

.author-box{
  padding: 1.5em 2em;
  border-bottom: 3px dashed #ddd;
  @include clearfix();
  .avatar{
    width: 150px;
    height: 150px;
    max-width: 150px;
    float: right;
    margin: 0.5em 0 1.5em 1.5em;
    border-radius: 50%;
    @media only screen and (max-width: $screen-sm-max) {
      max-width: 80px;
      width: 80px;
      height: 80px;
    }
  }
  dl{
    $dt-width: 8em;
    @media only screen and (max-width: $screen-sm-max) {
      clear: both;
    }
    dt{
      color: #666;
      display: inline-block;
      width: $dt-width;
      float: left;
      clear: left;
    }
    dd{
      margin-left: $dt-width + 2em;
    }
  }
}
