.content--script{

  // Basic Typography
  @extend %serif;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;

  strong{
    font-family: sans-serif;
    font-weight: bold;
  }

  // Paragraph
  p{
    margin: 0;
    text-indent: 1em;
    &.no-indent{
      text-indent: 0;
    }
  }

  .text{
    &-center{
      text-align: center;
    }
    &-right{
      text-align: right;
    }
    &-left{
      text-align: left;
    }
  }

  // Divider
  hr{
    $border: 6px double #ddd;
    -moz-margin-before: 2em;
    -webkit-margin-before: 2em;
    -moz-margin-after: 2em;
    -webkit-margin-after: 2em;
    border: none;
    border-top: $border;
    .rtl &{
      width: 0;
      height: 100%;
      border-top: none;
      border-right: $border;
    }
  }

  // Blockquote
  blockquote{
    color: #666;
    margin: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-padding-start: 2em;
    -moz-padding-start: 2em;
    cite{
      display: block;
      text-align: right;
      font-style: normal;
    }
  }

  del, strike{
    color: #aaa;
  }

  table{
    border-collapse: collapse;
    .rtl &{
      height: 100%;
    }
    .ltr &{
      width: 100%;
    }
    th, td{
      border: 1px solid #ddd;
      padding: 1em;
    }
    th{
      font-weight: bold;
    }
  }

  img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  // Headers
  h1, h2, h3, h4, h5, h6{
    clear: both;
  }

  // WP Required
  .alignright{
    float: right;
  }
  .alignleft{
    float: left;
  }
  .alignnone{
    float: none;
  }
  .aligncenter{
    float: none;
  }
  .wp-caption-text{
    color: #888;
    font-size: 0.85em;
  }
  .ltr &{
    padding-bottom: 2em;
    .wp-caption, img{
      max-width: 100%;
    }
    .alignleft, .alignright{
      max-width: 50%;
    }
  }
  .rtl &{
    .wp-caption, img{
      max-height: 100%;
    }
    .alignleft, .alignright{
      max-height: 50%;
    }
    .alignleft, .alignright, .alignnone, .aligncenter{
      margin: 1em;
    }
    .alignleft{
      margin-top: 0;
    }
    .alignright{
      margin-bottom: 0;
    }
  }

}



// 縦書きの場合
.rtl{
  .content--script{

    pre{
      //    -webkit-writing-mode: horizontal-tb;
    }
    q{
      &:before{
        content: "";
      }
      &:after{
        content: "";
      }
    }
    sup{
      top: 0;
      right: -0.5em;
    }
    sub{
      bottom: 0;
      left: -0.25em;
    }

    .wp-caption{
      -webkit-writing-mode: horizontal-tb;
      text-align: center;
    }
  }

}

// 横書きの場合
.ltr{
  .content--script{
    padding-bottom: 2em;
    .alignleft, .alignright{
      float: none;
    }
  }
}
