.content--script{

  $text-base: #242424;

  color: $text-base;

  // Basic Typography
  @extend %serif;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;

  // Text decoration

  strong{
    font-family: sans-serif;
    font-weight: bold;
  }

  em{
    font-style: normal;
    font-family: sans-serif;
  }

  ins{
    text-decoration: none;
    color: lighten($text-base, 20);
    &:before{
      content: "〔";
      color: lighten($text-base, 40);
    }
    &:after{
      content: "〕";
      color: lighten($text-base, 40);
    }
  }

  big, .big{
    font-size: 4em;
  }
  small{
    font-size: 1em;
    color: #666;
    &:before{
      content: "〔";
    }
    &:after{
      content: "〕";
    }
  }

  del, strike, .strike{
    color: #aaa;
    text-decoration: line-through;
  }

  address{
    font-style: normal;
    font-family: sans-serif;
  }


  // Paragraph
  p{
    margin: 0;
    text-indent: 1em;
    &.no-indent{
      text-indent: 0;
    }
  }

  .text{
    &-center{
      text-align: center;
    }
    &-right{
      text-align: right;
    }
    &-left{
      text-align: left;
    }
  }

  // Divider
  hr{
    $border: 6px double #ddd;
    @include logical-property(2em 0);
    border: none;
    border-top: $border;
    .rtl &{
      width: 0;
      height: 100%;
      border-top: none;
      border-right: $border;
    }
  }

  // Lists
  dl{
    @include logical-property(1em 0 1em 0);
    dt{
      @extend %sans;
      @include logical-property(0 0 0 1em);
    }
    dd{
      @include logical-property(0 0 0 2em);
      & + dt{
        @include logical-property(1em 0 0 1em);
      }
    }
  }

  // Quotation
  blockquote{
    color: #444;
    margin: 0;
    @include logical-property(1em 0);
    @include logical-property(0 0 0 2em, false);
    cite{
      display: block;
      font-style: normal;
      font-size: 0.85em;
      .ltr &{
        text-align: right;
      }
      .rtl &{
        @include logical-property(0 0 0 3em, false);
      }

    }
  }
  cite{
    font-style: italic;
  }
  aside{
    padding: 1em;
    background: #f9f9f9;
    color: #000;
    font-size: 0.85em;
    font-family: sans-serif;
    .ltr &{
      margin: 1em 0;
    }
    .rtl & {
      margin: 0 1em;
    }
    h1, h2, h3, h4, h5, h6{
      &:first-child{
        margin-top: 0;
      }
    }
  }
  q{
    &:before{
      content: "“";
    }
    &:after{
      content: "”";
    }
    .rtl &{
        &:before{
          content: "〝";
        }
        &:after{
          content: "〟";
        }
    }
  }



  // Code format
  pre {
    line-height: 1.1;
    overflow: auto;
  }
  code, tt, .tt{
    font-family: monospace;
    border: 1px solid $active-color;
    color: $active-color;
    border-radius: 2px;
    padding: 2px;
  }
  var{
    font-family: monospace;
    font-style: normal;
    background: #ccc;
    border-radius: 2px;
    padding: 2px;
  }

  // table
  table{
    border-collapse: collapse;
    .rtl &{
      height: 100%;
    }
    .ltr &{
      width: 100%;
    }
    th, td{
      border: 1px solid #ddd;
      padding: 1em;
    }
    th{
      font-weight: bold;
    }
  }

  // Image
  img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  // Headers
  h1, h2, h3, h4, h5, h6{
    clear: both;
    margin: 1.5em 0 0.5em;
    line-height: 1.1;
    font-weight: normal;
    .rtl &{
      margin: 0 1.5em 0 0.5em;
    }
  }
  h1{
    font-size: 2em;
    padding: 0.25em;
    background: #444;
    color: #fff;
  }
  h2{
    $h2-border: 1px dotted #444;
    font-size: 1.8em;
    border-bottom: $h2-border;
    padding-bottom: 0.5em;
    .rtl &{
      padding-bottom: 0;
      padding-left: 0.5em;
      border-bottom: none;
      border-left: $h2-border;
    }
  }
  h3{
    $h3-border:  5px #666 solid;
    font-size: 1.5em;
    border-left: $h3-border;
    padding-left: 0.25em;
    .rtl &{
      border-left: none;
      padding-left: 0;
      padding-top: 0.25em;
      border-top: $h3-border;
    }
  }
  h4{
    font-size: 1.2em;
    color: #666;
  }
  h5{
    font-size: 1.1em;
    font-weight: bold;
  }
  h6{
    font-size: 1em;
    font-weight: bold;
  }

  // WP Required
  .alignright{
    float: right;
  }
  .alignleft{
    float: left;
  }
  .alignnone{
    float: none;
  }
  .aligncenter{
    float: none;
  }
  .wp-caption-text{
    color: #888;
    font-size: 0.85em;
  }
  .ltr &{
    padding-bottom: 2em;
    .wp-caption, img{
      max-width: 100%;
    }
    .aligncenter{
      display: block;
      margin: 1em auto;
    }
    .alignleft, .alignright{
      max-width: 50%;
    }
  }
  .rtl &{
    .wp-caption, img{
      max-height: 100%;
    }
    .aligncenter{
      margin: auto 1em;
    }
    .alignleft, .alignright{
      max-height: 50%;
    }
    .alignleft, .alignright, .alignnone, .aligncenter{
      margin: 1em;
    }
    .alignleft{
      margin-top: 0;
    }
    .alignright{
      margin-bottom: 0;
    }
    .aligncenter{
      margin: auto 1em;
    }
  }

}



// 縦書きの場合
.rtl{
  .content--script{

    pre{
      //    -webkit-writing-mode: horizontal-tb;
    }
    sup{
      top: 0;
      right: -0.5em;
    }
    sub{
      bottom: 0;
      left: -0.5em;
    }

    .wp-caption{
      -webkit-writing-mode: horizontal-tb;
      text-align: center;
    }
  }

}

// 横書きの場合
.ltr{
  .content--script{
    padding-bottom: 2em;
    .alignleft, .alignright{
      float: none;
    }
  }
}
