$toc-link-border: 1px solid #444;



.content--toc{
  ol{
    margin: 0;
    padding: 0;
    counter-reset: section;
    border-top: $toc-link-border;
    & > li{
      font-weight: bold;
      list-style: none;
      padding: 0.5em;
      border-bottom: $toc-link-border;
      &:before{
        content : counters(section, '-') '. ';
        counter-increment : section;
      }
      a:link, a:hover{
        text-decoration: none;
        color: $link-color;
      }
      a:hover, a:active{
        color: $active-color;
        text-decoration: underline;
      }
    }
    ol{
      border-top-style: dotted;
      & > li{
        font-weight: normal;
        padding-left: 2em;
        border-bottom-style: dotted;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

// 縦書きの場合
.rtl{
  .content--toc{
    ol{
      border-top: none;
      border-right: $toc-link-border;
      li{
        border-bottom: none;
        border-left: $toc-link-border;
      }
      ol > li{
        padding-left: 0;
        padding-top: 2em;
        border-left-style: dotted;
        &:last-child{
          border-left: none;
        }
      }
    }
  }
}

// 横書きの場合
.ltr{
  .content--toc{
    ol{
      li{
      }
    }
  }
}