$footer-padding: $gutter;
$footer-body-color: $gray-700;
$footer-link-color: $gray-500;
$footer-link-gutter: .25em;
$footer-general-bg: $gray-100;
$footer-inverse-color: $white;

.footer {
	&-wrapper {
		padding-top: $gutter;
		margin-top: $gutter;
		border-top: 2px solid $solid-border;
	}

	&-logo {
		text-align: center;
		margin: 0 0 $gutter / 2;
		&-img {
			width: 180px;
			height: auto;
			@include media-breakpoint-down(sm) {
				width: 120px;
			}
		}
		&-desc {
			font-size: $font-size-sm;
			display: block;
			margin-top: $gutter / 4;
		}
	}

	&-links {
		&-wrapper {
			padding-top: $gutter / 2;
			padding-bottom: $gutter / 2;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			display: inline-block;
			position: relative;
		}
		a {
			transition: color .3s ease-in-out, border-color .3s ease-in-out;
		}
		// About links.
		&-about {
			li {
				padding: $footer-link-gutter 0 $footer-link-gutter $footer-link-gutter;
				font-size: $font-size-sm;

				&::before {
					content: "-";
					display: inline;
					margin-right: $footer-link-gutter * 1.5;
				}

				&:first-child {
					padding-left: 0;

					&::before {
						content: none;
					}
				}

				a {
					&:link,
					&:visited {
						color: $footer-body-color;
						text-decoration: underline;
					}
					&:hover,
					&:active {
						color: $footer-link-color;
						text-decoration: none;
					}
				}
			}
		}
		// social links
		&-social {
			text-align: right;
			@include media-breakpoint-down(sm) {
				text-align: left;
			}

			a {
				display: inline-block;
				width: 32px;
				height: 32px;
				text-align: center;
				padding: 4px;
				&:link,
				&:visited {
					color: $footer-body-color;
					text-decoration: none;
				}
				&:hover,
				&:active {
					text-decoration: none;
					color: $footer-link-color;
				}
				@each $brand, $color in $brand-colors {
					&[href*="#{$brand}"]:hover,
					&[href*="#{$brand}"]:active {
						color: $color;
					}
				}
			}
		}
	}

	// 著作権情報
	&-colophon {
		color: $footer-body-color;

		&-general {
			color: $footer-inverse-color;
			background-color: $footer-body-color;
		}
	}

	// Copy rights
	&-copy-right {
		margin: 0;
		height: $gutter-xl;
		line-height: $gutter-xl;
		font-size: $font-size-sm;
		text-align: center;
	}
}
