$header-height: 50px;
$header-padding: 5px;
$header-z-index: 10;
$header-bg: $white;
$header-divider-color: $gray-900;
$header-button-bg: $gray-200;

.site-navigation {
	will-change: transform;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $header-z-index;
	transition: transform .3s ease-in-out;
	background-color: $header-bg;
	border-bottom: 1px solid $header-divider-color;

	// Hide with scroll
	@include media-breakpoint-down(sm) {
		@at-root .header-hidden &{
			@include head-room() {
				transform: translateY(-100%);
			}
		}
	}

	.container {
		position: relative;
		height: $header-height;
	}

	+ * {
		margin-top: $header-height + 1;
	}
}

// Header buttons.
%header-buttons {
	height: $header-height;
	background-color: $header-bg;
	border: none;
	color: $black;

	// actions.
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
	&:hover {
		background-color: $dark;
		color: $white;
	}
	&.active,
	&:active {
		background-color: $header-button-bg;
		color: $black;
	}
}

// Toggle navigation
.header-toggle {

	@extend %header-buttons;

	width: $header-height;
	position: absolute;
	left: 0;
	cursor: pointer;

	@include media-breakpoint-down(sm) {
		border-left: none;
	}
}

// User actions.
.user-login {
	$avatar-size: 24px;

	&-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		height: $header-height;

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
		}
	}

	&-avatar {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 50%;
	}

	&-actions {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: right;
		height: $header-height;

		@include media-breakpoint-down(sm) {
			border-right: none;
		}
	}

	&-action {

	}

	&-dropdown {
		@extend %header-buttons;

		padding-right: 8px;
		padding-left: 8px;
	}

	&-dropdown-menu {
		position: absolute;
		right: 0;
		top: $header-height + 1;
		width: 400px;
		max-width: 100vw;
		background-color: $white;
		box-shadow: 0 5px 5px rgba( 0, 0, 0, .3 );
		border-right: 1px solid $header-divider-color;
		border-left: 1px solid $header-divider-color;

		@at-root .header-hidden & {
			display: none;
		}

		@include media-breakpoint-down(sm) {
			width: 100vw;
			right: 0;
			border-right: none;
			border-left: none;
		}

		li{
			margin: 0;
			padding: 0;
			border-top: 1px solid $thin-border;

			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: 1px solid $header-divider-color;
			}

			&.divider {
				border-top: 1px solid $header-divider-color;

				+ li {
					border-top: none;
				}
			}

			&.greeting {
				padding: $gutter-xs $gutter-xs * 2;
				strong {
					font-size: 1.2em;
					margin-right: 0.25em;
				}
				.role {
					color: $shade-font;
					padding-left: 0;
					padding-right: 0;
				}
			}

			a {
				display: block;
				padding: $gutter-sm;
				transition: color .3s ease-in-out, background-color .3s ease-in-out;

				&:link,
				&:visited {
					text-decoration: none;
					color: $body-color;
					background-color: $white;
				}

				&:hover,
				&:active {
					text-decoration: none;
					color: $link-color;
					background-color: $header-button-bg;
				}
				svg {
					margin-right: 0.5em;
					color: $shade-font;
					vertical-align: top;
				}
			}
		}
	}

	&-links {
		a {
			box-sizing: content-box;
			height: 1em;
			line-height: 1em;
			vertical-align: middle;

			@include ellipsis();
		}
	}
}

.notification {

	&__empty {
		span {
			display: block;
			padding: $gutter-sm;
			color: $more-shade-font;
			text-align: center;
		}
	}

	&__more {
		text-align: center;
	}
}



//
// Sub header
//
.sub-header {

	background: $hametuha-color;

	.container {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	&-title {
		color: #fff;
	}

	.nav-pills a {
		border-color: #fff;
		color: #fff;
		&:hover {
			color: $hametuha-color;
		}
	}

	.nav-pills .active a {
		background: rgba(255, 255, 255, .2);
		&:hover {
			color: $hametuha-color;
			background: #fff;
		}
	}

	.form-control.hamelp-search-input {
		height: 33px;
	}

	.btn-link {
		color: #ccc;
	}
}

//
// mmenu
//
#mm-blocker {
	background: rgba(0, 0, 0, .8) !important;
	&::after {
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 28px;
		// @extend .icon-close:before;
		font-family: "hameticon";
		color: #fff;
		cursor: pointer;
	}
}
#header-navigation {

	li small {
		color: #999;
		&::before {
			content: "（";
		}
		&::after {
			content: "）";
		}
	}
	.icon-lamp,
	.icon-crown {
		color: #d4d400;
	}
	.icon-amazon {
		color: orange;
	}
	.icon-heart {
		color: red;
	}
}


//
// ロゴマーク
//
.logo {
	//$logo-width: $navbar-height;
	position: absolute;
	display: block;
	width: auto;
	height: $header-height - $header-padding * 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	&:link,
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
		i {
			//color: $brand-danger !important;
		}
	}
	&-img {
		height: $header-height - $header-padding * 2;
		width: auto;
	}
	@include media-breakpoint-down(sm) {
		height: 32px;
		&-img {
			height: 32px;
		}
	}
}

// メニューが有効でないときは隠す
#header-navigation {
	header + & {
		display: none;
	}
}

.dropdown-menu > li > span {
	display: block;
	padding: 3px 20px;
	clear: both;
}

//
// ぱんくずリスト
//
// ------------------
//
#breadcrumb {
	position: relative;
	background-color: transparent;
	z-index: 1;
	font-size: 12px;
	color: $shade-font;
	overflow-x: scroll;
	.container {
		height: 32px;
		line-height: 1;
		padding-top: 10px;
		padding-bottom: 10px;
		white-space: nowrap;
	}
	i {
		margin-right: 1em;
	}
	a {
		&:link,
		&:visited {
			//color: $little-shade-font;
			text-decoration: none;
		}
		&:hover {
			//color: $link-color;
		}
		&:active {
			//color: $link-active;
		}
	}
}

// ログインボタン
.login-buttons a {
	float: right;
	margin-top: 8px;
	background-color: transparent;
	margin-right: 10px;
	&:last-child {
		@media only screen and (max-width: 400px) {
			display: none;
		}
	}
}

// 書くヤツ
.write-panel {
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
	@include transition( top 0.3s ease-in-out );
	&.open {
		display: block;
		//top: $navbar-height;
	}
	&__inner {
		width: 90%;
		max-height: 90%;
		overflow-y: scroll;
		margin: 5% auto;
		background: #fff;
		padding: 10px;
	}
	&__close {
		font-size: 32px;
		&:hover {
			text-decoration: none;
		}
	}
	&__actions {
		padding: 0;
		margin: 20px 0;
		//@media only screen and ( max-width: $screen-xs-max ) {
		//	margin: 10px 0;
		//}
		border-top: 1px solid $thin-border;
	}
	&__action {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $thin-border;
		list-style: none;
	}
	&__link {
		display: block;
		padding: 20px;
		font-size: 20px;
		@include media-breakpoint-down(sm){
			padding: 10px;
			font-size: 14px;
		}
		&:link,
		&:visited {
			color: #000;
			text-decoration: none;
		}
		&:hover,
		&:active {
			//color: $brand-primary;
			text-decoration: none;
			background-color: #f9f9f9;
		}
	}
	&__label {
		font-weight: bold;
		i {
			color: #aaa;
		}
	}
	&__desc {
		margin: 10px 0 0;
		font-size: 0.85em;
		color: #888;
		line-height: 1.2;
	}
}
