$link-color: #2e455d;
$visited-color: #9d80be;
$active-color: #b4423d;
$thic-border: 10px solid #444;
$thin-border: 1px solid #ccc;

//
// Typography
//
// -----------------------------------
//
%serif {
	font-family: YuMincho, "游明朝", serif;
}
%sans {
	font-family: YuGothic, "游ゴシック", sans-serif;
}

body {
	@extend %sans;
}

// alignment
.text {
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
	&-center {
		text-align: center;
	}
}

// Visibility
.hidden {
	display: none;
}

//
// Writing Mode
//
// -----------------------------------
//
// 縦書き
.rtl {
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	// 縦中横
	.tcy {
		-webkit-text-combine: horizontal;
		text-combine: horizontal;
	}
}
// 圏点
.text-emphasis {
	text-emphasis: sesame filled;
}


//
// Link
// ----------------
//
a {
	&:link,
	&:visited {
		color: $link-color;
		text-decoration: underline;
	}
	&:visited {
		color: $visited-color;
		text-decoration: underline;
	}
	&:hover {
		color: lighten($link-color, 10);
		text-decoration: underline;
	}
	&:active {
		color: $active-color;
		text-decoration: none;
	}
	.rtl & {
		&:link {
			color: $link-color;
			text-decoration: overline;
		}
		&:visited {
			color: $visited-color;
			text-decoration: overline;
		}
		&:hover {
			color: lighten($link-color, 10);
			text-decoration: overline;
		}
		&:active {
			color: $active-color;
			text-decoration: none;
		}
	}
}


//
// Header
// ----------------
//
.header {

	@extend %sans;

	.title {
		font-size: 2em;
		line-height: 1.1;
		small {
			display: block;
			font-size: 0.6em;
			color: #888;
		}
	}

	.meta {
		text-align: right;
		color: #888;
	}

	&__lead {
		$lead-padding: 6em;
		color: #666;
		p {
			font-size: 0.9em;
			line-height: 1.8;
		}
		.ltr & {
			padding: 1em 2em 1em $lead-padding;
		}
		.rtl & {
			padding: $lead-padding 1em 2em 1em;
		}
	}

	.ltr & {
		.title {
			padding: 1em 2em;
			border-bottom: $thin-border;
			@media only screen and (max-width: $screen-sm-max) {
				padding: 1em 0.5em;
			}
			small {
				padding-top: 0.5em;
			}
		}
		.meta {
			padding: 0 2em;
		}
	}

	.rtl & {
		.title {
			margin: 0 0.67em;
			padding: 2em 1em;
			border-left: $thin-border;
			@media only screen and (max-width: $screen-sm-max) {
				padding: 0.5em 1em;
			}
			small {
				padding-right: 0.5em;
			}
		}
		.meta {
			padding: 2em 0;
		}
	}

	&__author {
		text-align: right;
		font-size: 1.4em;
		@include logical-property(0 1em 0 0);
	}
}


//
// Main Content
// ----------------
//
article {
	.rtl & {
		margin: 2em 1em;
	}

}
.content {
	.rtl & {
		padding-left: 2em;
	}
	.ltr & {
		padding-bottom: 2em;
	}
}

// 改ページ
.pagebreak {
	page-break-after: always;
}


//
// Footer
// ----------------
//
.footer {
	color: #6e6e6e;
	.ltr & {
		padding: 1em 2em;
		border-top: $thin-border;
		text-align: center;
	}
	.rtl & {
		padding: 2em 1em;
		border-right: $thin-border;
		text-align: right;
	}
}


//
// 横書き
// ----------------
//
.ltr {
	.header,
	.content,
	.footer {
		max-width: $screen-desktop;
		margin: 0 auto;
	}
	// Table
	table {
		width: 100%;
	}
}
