.description{

  &-wrapper{
    margin: 10px 0;
    padding: 1em;
    font-family: $work-body-sans;
    p{
      margin: 1em 0;
      line-height: 1.4;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}