// アバターのサイズ
@mixin comment-avatar($avatar-size) {
  .avatar {
    width: $avatar-size;
    height: $avatar-size;
  }
  li.author {
    .label {
      width: $avatar-size;
      top: $avatar-size + 20;
    }
  }
}

// コメント
#discussion {
  margin-top: 20px;

  #comments {
    margin-bottom: 20px;
  }

  ul.media-list {
    border-top: 1px solid $thin-border;
    // margin
    li.media {
      list-style: none;
      position: relative;
      margin-top: 0;
      padding: 15px;
      border-bottom: 1px solid $thin-border;

      &:nth-child(even) {
        background-color: $zebra-bg;
      }
    }

    .avatar {
      @extend .img-circle;
    }

    li.author {
      position: relative;

      .label {
        display: block;
        text-align: center;
        position: absolute;
        right: 0;
      }
    }

    li.deep-enough ul.children {
      padding-left: 0;

      li {
        padding: 15px 0;
      }
    }

    @include comment-avatar(60px);
    // スレッド
    ul.children {
      margin-top: 15px;
      border-top: 1px solid $thin-border;
      padding-left: 15px;

      li {
        overflow: visible;
        padding: 15px 0;

        &:before {
          position: absolute;
          font-family: hameticon;
          left: -30px;
          top: 15px;
          display: block;
          font-size: 20px;
          color: $thin-border;
          @extend .icon-forward:before;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  .reply {
    a {
      @extend .btn;
      @extend .btn-default;
      @extend .btn-xs;
    }
  }

  .comment-content {
    line-height: 1.6;
    @include text-justify();
  }
}


.deleted-user-comment {
  > .media-body > .comment-content,
  > .hamethread-comment-item > .hamethread-comment-body > .hamethread-comment-content {
    position: relative;
    filter: blur(8px);
    overflow: hidden;
    transition: filter .3s linear;

    &:hover {
      filter: blur(0);
    }
  }
}

// スマートフォンのときはアバターを小さく
@media only screen and (max-width: $screen-xs-max) {
  #discussion {
    ul.media-list {
      @include comment-avatar(40px);
    }
  }
}
