.doujin {

	&__row {
		margin: 20px 0;
		padding: 20px 0;
		&--activity,
		&--kdp {
			background: #f9f9f9;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}
		&--activity {
			margin-top: 0;
		}
	}

	&__img {
		max-width: 100%;
		width: auto;
		height: auto;
		@media only screen and (max-width: $screen-xs-max) {
			max-width: 150px;
		}
	}

	&__links {
		padding-left: 0;
		li {
			margin: 0.5em 0;
			list-style: none;
		}
	}

	&__favorites {
		dd {
			margin-bottom: 0.5em;
		}
	}

	&__item {
		&--title {
			font-size: 18px;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px dotted #ddd;
		}
		&--chart {
			height: 300px;
		}
	}

	&__activities {
		padding-left: 0;
	}
	&__activity {
		list-style: none;
		border-bottom: 1px dotted #ddd;
		a {
			margin: 5px 0;
			padding: 10px;
			display: block;
			&:link,
			&:visited {
				text-decoration: none;
			}
			&:active {
				text-decoration: none;
				background: #fff;
				border-radius: 3px;
			}
		}
	}
}

// Button
.btn-follow {
	.remove,
	.loading {
		display: none;
	}
	&.btn-following {
		.remove {
			display: inline;
		}
		.add {
			display: none;
		}
	}
	&--loading {
		.remove,
		.add {
			display: none !important;
		}
		.loading {
			display: inline !important;
		}
	}
}


.follower {
	&__alert {
		margin: 2em 0;
	}
	&__container {
		padding-top: 2em;
		padding-bottom: 2em;
		min-height: 300px;
		&--loading {
			@extend %loading-indicator;
		}
	}
	&__wrap {
		padding: 2em 0;
	}
	&__item {
		list-style: none;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #ddd;
		&:nth-child(even) {
			background-color: #f9f9f9;
		}
	}
	&__name{

	}
	&__label{
	}
	&__avatar {
		max-width: 96px;
		width: auto;
		height: auto;
		@media only screen and (max-width: $screen-xs-max) {
			max-width: 100%;
		}
	}
}

.wpg-connect-table {
	th {
		font-size: 1em;
		display: block;
		padding: 0;
		i {
			font-size: 1.6em;
		}

	}
	td {
		display: block;
		padding: 0 0 10px;
		border-bottom: 1px dotted #ddd;
	}
}

