$nav-padding: 15px;

.footer {
  &-wrapper {
    background-color: $navbar-default-bg;
    padding: 20px 0 0;
    border-top: 3px double $navbar-default-border;
  }
  &-hametuha{
    background: #2e2e2e;
    font-size: 60px;
    margin: 0 0 20px;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 1px 0 #444;
    -moz-box-shadow: 0 1px 0 #444;
    box-shadow: 0 1px 0 #444;
  }

  // 購読エリア
  &-subscription {
    padding-bottom: 20px;
    h3 {
      margin-top: 0;
    }
    .col-sm-4 {
      @media only screen and (max-width: $screen-xs-max) {
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
        border-bottom: 1px solid $navbar-default-border;
      }
    }
  }

  &-links {
    &-wrapper{
      background: #2e2e2e;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-nav {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0.25em 1em;
        a{
          &:link, &:visited{
            color: #999;
            text-decoration: underline;
          }
          &:hover, &:active{
            color: #fefed4;
            text-decoration: none;
          }
        }
      }
    }
  }

  // 著作権情報
  &-copynote {
    background: #2e2e2e;
    color: #888;
    border-top: 1px solid #444;
    -webkit-box-shadow: 0 -1px 0 #000;
    -moz-box-shadow: 0 -1px 0 #000;
    box-shadow: 0 -1px 0 #000;
    .copy-right {
      margin: 0;
      height: 60px;
      line-height: 60px;
      font-size: 11px;
    }
  }

}

// 投稿ページ
#footer-single {
  background-color: $navbar-default-bg;
  border-top: $navbar-default-border;
}

