// ヘッダーのトグルボタンを左にする
.navbar-toggle {
  position: relative;
  float: left;
  margin-right: 0;
  margin-left: $navbar-padding-horizontal;
}

.logo{
  $logo-width: $navbar-height;
  position: absolute;
  display: block;
  width: $logo-width;
  height: $logo-width;
  left: 50%;
  top: 0;
  margin-left: $logo-width  / -10 * 9;
  &:link,
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
    i{
      color: red !important;
    }
  }
  span{
    display: none;
  }
  i{
    font-size: $logo-width;
  }
}

// ユーザー情報は右
#user-info{
  $avatar-size: 30px;
  .avatar{
    width: $avatar-size;
    height: $avatar-size;
  }
  &.navbar-right > li{
    float: right;
    & > a{
      $avatar-pad: ($navbar-height - $avatar-size) / 2;
      padding-top: $avatar-pad;
      padding-bottom: $avatar-pad;
      // ログインボタン
      &.login-btn{
        margin-right: 10px;
        margin-top: 8px;
        background-color: transparent;
        @include border-radius(3px);
        padding: 9px 4px;
        border: 1px solid $btn-primary-bg;
        font-size: 14px;
        line-height: 1;
        &:link, &:visited{
          color: $btn-primary-bg;
        }
        &:hover{
          color: $btn-primary-color;
          background-color: $btn-primary-bg;
        }
        &:active{
          color: $btn-danger-color;
          border-color:  $btn-danger-bg;
          background-color: $btn-danger-bg;
        }
      }
    }
  }
  .dropdown-menu{
    min-width: 240px;
  }
  .greeting{
    padding: 10px 20px;
    strong{
      font-size: 1.2em;
      margin-right: 0.25em;
    }
    .role{
      color: $shade-font;
    }
  }
}

.dropdown-menu > li > span{
  display: block;
  padding: 3px 20px;
  clear: both;
}


// スマートフォンのときの挙動
@media only screen and (max-width: $screen-xs-max){
  #user-info{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    .dropdown-menu{
      position: absolute;
      right: 0;
      left: auto;
      background-color: $navbar-default-bg;
      border: 1px solid $navbar-default-border;
      @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.8));
    }
  }
}

//
// ぱんくずリスト
//
// ------------------
//
#breadcrumb{
  font-size: 12px;
  color: $shade-font;
  overflow-x: scroll;
  .container{
    height: 32px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
  }
  i{
    margin-right: 1em;
  }
  a{
    &:link, &:visited{
      color: $little-shade-font;
      text-decoration: none;
    }
    &:hover{
      color: $link-color;
    }
    &:active{
      color: $link-active;
    }
  }
}
