.media{
  &__score{
    margin-bottom: 0.5em;
    color: #e9bc37;
    letter-spacing: 0.15em;
  }
  &__rating{
    margin-bottom: 0.5em;
  }
}


@media only screen and (max-width: $screen-xs-max) {
  #comments{
    font-size: 18px;
  }
  .media{
    h2{
      font-size: 18px;
    }
    .list-inline,
    .archive-excerpt{
      font-size: 12px;
    }
    .pull-left, .pull-right{
      .avatar{
        width: 40px;
        height: 40px;
      }
    }
  }
  .archive-container{
    .media > .pull-right{
      margin: 0 0 10px;
      float: none !important;
      display: block;
      img{
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}
