@mixin text-justify(){
  text-align: justify;
  text-justify: inter-ideograph;
}

@mixin text-emphasis($style: sesame filled){
  -webkit-text-emphasis-style: $style;
  -moz-text-emphasis-style: $style;
  text-emphasis-style: $style;
}

@mixin post-style($book: false){
  // 共通要素
  .alignleft{
    float: left;
    margin: 1em 1em 1em 0;
  }
  .alignright{
    float: right;
    margin: 1em 0 1em 1em ;
  }
  .aligncenter{
    margin: 1em auto;
  }
  img{
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .wp-caption{
    max-width: 100%;
    &.alignnone{
      margin: 1em auto;
      text-align: center;
    }
  }
  .wp-caption-text{
    font-size: 0.8em;
    @extend .text-muted;
  }

  // 普通の投稿
  @if( $book == false){
    //
    // 作品のスタイル
    //
    // ------------------------
    //
    // リンク
    a:link, a:visited{
      text-decoration: underline;
    }
    // 文章
    p{
      margin: 1em 0;
    }
    // 見出し
    h1, h2, h3, h4, h5, h6{
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    h1{
      font-size: 3em;
      font-weight: bold;
    }
    h2{
      font-size: 2em;
      font-weight: bold;
    }
    h3{
      font-size: 1.6em;
      font-weight: bold;
    }
    h4{
      font-size: 1.4em;
      font-weight: bold;
      background-color: $thin-border;
      padding: 0.25em;
    }
    h5{
      font-size: 1.4em;
      font-weight: bold;
      padding: 0 0.25em;
    }
    h6{
      color: #999;
      font-size: 1em;
      font-weight: normal;
      border-bottom: 1px dotted $thin-border;
      padding: 0.5em 0.25em;
    }
    // 引用
    blockquote{
      font-style: italic;
      cite{
        display: block;
        text-align: right;
      }
    }
    cite, q{
      font-style: italic;
      &:before{
        content: '“';
      }
      &:after{
        content: '”';
      }
    }
    small{
      color: #999;
      font-size: 1em;
      &:before{
        content: '〔';
      }
      &:after{
        content: '〕';
      }
    }
    // テーブル
    table{
      font-size: 0.85em;
      @extend .table;
      @extend .table-striped;
    }
    // リスト
    dl{
      $border:  2px solid $thin-border;
      dt{
        border-bottom: 1px solid $thin-border;
        border-left: $border;
        padding: 0.25em 0.5em 0.25em 15px;
        margin-top: 1em;
      }
      dd{
        border-left: $border;
        padding: 0.25em 0.5em 0.25em 15px;
        margin-bottom: 0.5em;
      }
      margin: 1em 0;
    }
    // インライン要素
    abbr, acronym{
      border-bottom: 3px dashed $thin-border;
      font-weight: bold;
      font-family: serif;
      cursor: help;
    }
    big{
      font-size: 2em;
    }
    del, strike{
      text-decoration: line-through;
      color: #aaa;
    }
    ins{
      background-color: #fdffbf;
      text-decoration: none;
    }
    em{
      font-style: normal;
      @include text-emphasis(sesame filled);
    }
    // iframe
    iframe{
      display: block;
      margin: 1em auto;
      max-width: 100%;
    }
    object, iframe{
      max-width: 100%;
    }
  }@else{
    //
    // 作品のスタイル
    //
    // ------------------------
    //

    // 本文
    p{
      margin: 0;
      &.indent{
        text-indent: 1em;
      }
    }

    h1, h2, h3, h4, h5, h6{
      margin: 1.5em 0 0.5em;
      font-family: $work-bold;
    }

    h1{
      font-size: 2em;
    }
    h2{
      color: $clear-font;
      font-size: 1.8em;
      padding-bottom: 0.5em;
      border-bottom: 3px double $clear-font
    }
    h3{
      font-size: 1.4em;
      color: $blue-font;
    }
    h4{
      font-size: 1.2em;
      color: $shade-font;
      padding-bottom: 0.5em;
      border-bottom: 1px dotted $thin-border;
    }
    h5{
      font-size: 1.2em;
    }
    h6{
      font-size: 1em;
    }

    // 引用
    blockquote{
      margin: 1em 0 1em 2em;
      color: $shade-font;
      border-left: none;
      padding: 0;
      font-size: inherit;
      cite{
        display: block;
        font-size: 0.85em;
        &:before{
          content: '“';
        }
        &:after{
          content: '”';
        }
      }
      p cite{
        text-indent: -1em;
      }
    }
    q{
      &:before{
        content: "“";
      }
      &:after{
        content: "”";
      }
    }

    // テーブル
    table{
      width: 100%;
      table-layout: auto;
      border-collapse: collapse;
      margin: 1em 0;
      thead{
        th{
          color: $shade-font;
          border-bottom: 3px double $shade-font;
          font-family: sans-serif;
          font-weight: bold;
        }
      }
      th, td{
        border-bottom: 1px solid $shade-font;
        padding: 0.5em;
      }
      tbody{
        th{
          border-right: 1px dotted $shade-font;
        }
      }
    }

    // リスト
    ul, dl, ol{
      margin: 1em 0;
    }

    dl{
      dt{
        font-family: $work-bold;
        margin-top: 0.5em;
      }
      dd{
        margin-left: 1em;
        &:last-child{
          margin-bottom: 0.5em;
        }
      }
    }

    // その他
    acronym, abbr{
      cursor: help;
      border-bottom: 2px dashed $shade-font;
    }
    big{
      font-size: 4em;
    }
    cite{
      font-style: italic;
    }
    del, s, strike{
      color: $more-shade-font;
      text-decoration: line-through;
    }
    ins, small{
      color: $shade-font;
      text-decoration: none;
      &:before{
        content: '〔';
      }
      &:after{
        content: '〕';
      }
    }

    // 強調
    .text-emphasis{
      -webkit-text-emphasis-style: filled sesame ;
    }
    strong{
      font-family: $work-bold;
    }

  }
}
