.series{
  &__inner{
  }
  &__row{
    padding: 2em 0;
    &--cover{
      background-color: $brand-primary;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    }
    &--author{
      background-color: #ebebeb;
    }
    &--children{
      background-color: #f9f9f9;
    }
    &--share{
      background: #ebebeb;
      .work-wrapper + &{
        background: transparent;
      }
    }
    &--single{
      margin: 1em 0;
      img{
        margin-bottom: 1em;
        max-width: 200px;
        width: auto;
        height: auto;
      }
    }
  }

  // メタ情報
  &__meta{
    &--thumbnail{
      max-height: 200px;
      overflow: visible;
      @media (max-width: $screen-xs-max) {
        max-height: none;
      }
      img{
        max-width: 240px;
        width: auto;
        height: auto;
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.6));
      }
    }
  }

  // 題字
  &__title{
    span{
      display: block;
      padding-bottom: 0.25em;
      border-bottom: 3px double #fff;
    }

    small{
      color: #fff;
      display: block;
      padding-top: 0.25em;
    }
    &--author,
    &--share,
    &--review,
    &--testimonials{
      color: #aaa;
      text-shadow: 1px 1px 2px #fff;
    }
    &--list {
      color: #aaa;
      padding-bottom: 1.5em;
      margin-bottom: 1.5em;
      border-bottom: 3px double #ddd;
    }
    &--caption{
      display: block;
      color: inherit;
      font-size: 0.5em;
      margin-bottom: 0.25em;
    }
  }
  &__excerpt{
    margin: 2em 0;
  }

  &__link{
    a:nth-child(3){
      margin-left: 1em;
      @media only screen and (max-width: #{$screen-sm-max}) {
        margin-top: 0.5em;
        margin-left: 0;
      }
    }
    &--divider{
      display: none;
      @media only screen and (max-width: #{$screen-sm-max}){
        display: block;
      }
    }
  }

  // 値段
  &__price{
    color: #ef9936;
    font-size: 1.4em;
    strong{
      font-size: 1.4em;
    }
  }

  // ステータス
  &__status{
    padding-left: 0;
    li{
      list-style: none;
      color: #666;
    }
    i.ok{
      color: $line-color;
    }
    i.ng{
      color: $brand-danger;
    }
  }

  // 著者
  &__author{
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    .avatar{
      max-width: 100%;
      width: auto;
      height: auto;
    }
    .row:first-child + &{
      border-top: none;
    }
    &:last-child{
      border-bottom: none;
    }
    &--desc{
      margin: 1em 0;
    }
    &--longdesc{
      @include long-desc(#ebebeb);
    }
  }


  // 作品一覧
  &__list{
    padding-left: 0;
  }
  &__item{
    list-style:none;
    margin-bottom: 30px;
    &--counter{
      display: block;
      color: #aaa;
      text-shadow: 1px 1px 2px #fff;
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 5px;
      font-family: $work-title;
    }
    &--link{
      display: block;
      border: 1px solid #ddd;
      border-radius: 2px;
      position: relative;
      @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.2));
      @include transition(background-color 1s 0 linear);
      &:link{
        color: #000;
        text-decoration: none;
        background: #fff;
      }
      &:visited{
        color: #393977;
        text-decoration: none;
        background: #fff;
      }
      &:hover, &:active{
        text-decoration: none;
        background: #fffabf;
      }
    }
    &--thumbnail{
      height: 150px;
      background: transparent center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;

      @media (max-width: $screen-xs-max) {
        height: 120px;
      }
    }
    &--body{
      padding: 10px;
    }
    &--title{
      font-family: $work-title;
      small{
        font-family: $work-body;
      }
    }
    &--info{
      color: #888;
      .avatar{
        border-radius: 50%;
      }
      i{
        color: #aaa;
      }
    }
    &--excerpt{
      z-index: 2;
      margin-top: 10px;
      font-family: $work-body;
    }
  }

  &__follow{
    text-align: center;
  }

  &__testimonials{
    &--stars{
      i{
        font-size: 3em;
        margin: 0 0.2em;

      }
      strong{
        font-size: 1.5em;
      }
      small{
        font-size: 1.2em;
        color: #888;
      }
    }
    &--list{
      padding-left: 0;
    }
    &--item{
      list-style: none;
      &:nth-child(3n+1){
        clear: left;
      }
      blockquote{
        padding: 20px;
        border-left: none;
        & > i{
          position: absolute;
          font-size: 64px;
          color: #f0f0f0;
          z-index: 1;
          &:first-child{
            top: -10px;
            left: 10px;
          }
          &:last-child{
            bottom: 0;
            right: 10px;
          }
        }
        div p{
          font-family: $work-body;
          position: relative;
          z-index: 2;
        }
        cite{
          position: relative;
          z-index: 2;
          display: block;
          font-family: $work-title;
          text-align: center;
          color: #888;
          font-size: 0.9em;
        }
      }
    }
    &--rating{
      -webkit-text-stroke: 1px #888;
      text-stroke: 1px #888;
      color: yellow;
      font-size: 1.2em;
    }
  }

}

i.icon-star6, i.icon-star5{
  color: yellow;
  -webkit-text-stroke: 1px #ddd;
  text-stroke: 1px #ddd
}

.testimonialList{
  padding: 0;

  &__item{
    list-style: none;
    border-bottom: 1px solid #ddd;
    &:first-child{
      border-top: 1px solid #ddd;
    }
    padding: 10px;
  }
  &__meta{
    margin-bottom: 10px;
    .ok{
      color: $brand-success;
    }
    .ng{
      color: $brand-danger
    }
    strong{
      color: $shade-font;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: #ddd solid 1px;
      &.name{
        color: #000;
      }
    }
  }
  &__content{
    &--inner{
      border-top: 1px dotted #ddd;
      padding-top: 10px;
      line-height: 1.2;
      font-size: 1.2em;
    }
  }
}
