// Global widget
.widget{
  img{
    max-width: 100%;
  }
  // Image widget
  &_sp_image-image-link{
    display: block;
    text-align: center;
    img{
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  &-kdp {
    &-lead {
      font-size: 14px;
      margin: 10px;
    }
    &-list {
      & + a {
        margin-top: 50px;
      }
      .slick-dots > li{
        float: left
      }
    }
    &-item {
      text-align: center;
      img{
        margin-right: auto;
        margin-left: auto;
      }
    }
  }


  // キャンペーン
  &-campaign{
    &-lead{
      margin: 10px 0;
      font-size: 16px;
      font-family: $work-body-sans;
      color: $brand-warning;
    }
    &-list{
      border: 1px solid $thin-border;
      border-radius: $border-radius-base;
    }
    &-item{
      border-bottom: 1px solid $thin-border;
      &:last-child{
        border-bottom: none;
      }
      a{
        @extend %block-link;
        padding: 20px 10px;
        &:link, &:visited{
          color: #000;
          background: #fff;
        }
        &:hover, &:active{
          color: $link-active;
          background: $hover-bg;
        }
      }
    }
    &-title{
      font-size: 18px;
      margin-right: 5px;
    }
    &-date{
      display: block;
      font-size: 14px;
      margin: 5px 0;
      color: #888;
      i{
        color: #aaa;
        margin-right: 5px;
      }
    }
    &-desc{
      font-size: 14px;
      color: #666;
    }
  }
}

#sidebar{
  @media only screen and (max-width: $screen-xs-max) {
    margin-top: 40px;
  }
  .widget{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $thin-border;
  }
  .widget-title{
    margin-top: 0;
    font-size: 14px;
    color: $shade-font;
    font-family: $work-title;
  }
  img{
    max-width: 100%;
  }
  .widget_sp_image-image-link{
  }
  .small-button{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-default;
    @extend .btn-block;
  }
  ul{
    @extend .nav;
    @extend .nav-pills;
    @extend .nav-stacked;
  }
  .recent-post-list{
    border-top: 1px dotted $thin-border;
    h3{
      font-size: 18px;
    }
    .meta{
      font-size: 12px;
      color: $more-shade-font;
    }
    .icon-calendar{
      margin-left: 0.5em;
    }
  }
  p.author{
    padding: 0 15px;
    margin-bottom: 5px;
    color: $shade-font;
    img{
      margin-right: 0.5em;
      width: 24px;
      height: 24px;
      @include border-radius(50%);
    }
    .old{
      font-family: serif;
      margin-left: 1em;
    }
  }
  .recentcomments{
    border-top: 1px dotted $thin-border;
    padding: 1em 0.5em;
  }
  .anyway-feedback-popular-widget{
    .count{
      display: block;
      text-align: center;
      color: #999;
      font-size: 0.85em;
    }
    li{
      border-bottom: 1px dotted #ddd;
      padding: 5px 0;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
