#sidebar{
  .widget{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $thin-border;
  }
  .widget-title{
    margin-top: 0;
    font-size: 14px;
    color: $shade-font;
    font-family: $work-title;
  }
  img{
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .small-button{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-default;
    @extend .btn-block;
  }
  ul{
    @extend .nav;
    @extend .nav-pills;
    @extend .nav-stacked;
  }
  .widget_sp_image-image-link{
    display: block;
    text-align: center;
  }
  .recent-post-list{
    border-top: 1px dotted $thin-border;
    h3{
      font-size: 18px;
    }
    .meta{
      font-size: 12px;
      color: $more-shade-font;
    }
    .icon-calendar{
      margin-left: 0.5em;
    }
  }
  p.author{
    padding: 0 15px;
    margin-bottom: 5px;
    color: $shade-font;
    img{
      margin-right: 0.5em;
      width: 24px;
      height: 24px;
      @include border-radius(50%);
    }
    .old{
      font-family: serif;
      margin-left: 1em;
    }
  }
  .recentcomments{
    border-top: 1px dotted $thin-border;
    padding: 1em 0.5em;
  }
  .anyway-feedback-popular-widget{
    .count{
      display: block;
      text-align: center;
      color: #999;
      font-size: 0.85em;
    }
    li{
      border-bottom: 1px dotted #ddd;
      padding: 5px 0;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
