// Testimonial star.
i.icon-star6,
i.icon-star5 {
	color: yellow;
	-webkit-text-stroke: 1px #ddd;
	text-stroke: 1px #ddd;
}

// Series Testimonial
.testimonial {
	&-list {
		padding: 0;
		column-count: 3;
		column-gap: 20px;
		@include mq-max( $screen-sm-max) {
			column-count: 2;
		}
		@include mq-max( $screen-xs-max) {
			column-count: 1;
		}
		li {
			list-style: none;
			display: block;
		}
	}

	&-item {
		margin: 0;
		break-inside: avoid;
		orphans: 1;
		widows: 1;
	}

	&-text {
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		border: 1px solid rgb(225, 232, 237);
		div p {
			font-family: $work-body;
			position: relative;
			z-index: 2;
		}

		cite {
			position: relative;
			z-index: 2;
			display: block;
			font-family: $work-title;
			text-align: center;
			color: #888;
			font-size: 0.9em;
		}
	}

	&-rating {
		-webkit-text-stroke: 1px #888;
		text-stroke: 1px #888;
		color: yellow;
		font-size: 1.2em;
		text-align: center;
	}

	&-source {

	}
}

// List.
.testimonialList {
	padding: 0;

	&__item {
		list-style: none;
		border-bottom: 1px solid #ddd;
		&:first-child {
			border-top: 1px solid #ddd;
		}
		padding: 10px;
	}
	&__meta {
		margin-bottom: 10px;
		.ok {
			color: $brand-success;
		}
		.ng {
			color: $brand-danger;
		}
		strong {
			color: $shade-font;
			margin-left: 0.5em;
			padding-left: 0.5em;
			border-left: #ddd solid 1px;
			&.name {
				color: #000;
			}
		}
	}
	&__content {
		&--inner {
			border-top: 1px dotted #ddd;
			padding-top: 10px;
			line-height: 1.2;
			font-size: 1.2em;
		}
	}
}
