@charset "utf-8";

[ng-cloak]{
  opacity: 0;
}

@import "bootstrap";

@import "wpametu/assets/scss/animations";

@import "mixins";

// Loading indicator placeholder (must be imported before components)
@import "components/loading";

@import "components";

@import "post_body";

@import "container";

@import "parts/*";

@import "components/*";

@import "print/*";

