@charset "UTF-8";

// Import Bootstrap configuration (includes variables)
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "mixins";
@import "post_body";

body{
  margin: 20px;
  line-height: 1.8;
  font-family: $font-family-serif;
  & > p,
  blockquote p{
    text-indent: 1em;
    &[style]{
      text-indent: 0;
    }
  }
  @include post-style(true);
  @include text-justify();
  @import "parts/embed";
}