$color-red: #d54e21;
$color-orange: #d54e21;
$gap: 8px;

@import "components/recaptcha";

#login {
	width: auto !important;
	max-width: 480px;
}

.login-tagline {
	margin-bottom: 24px;
}

// ボタンの色を変える
#loginform,
#registerform,
#lostpasswordform,
#resetpassform {
	.button-primary {
		background-color: #222;
		border-color: #000;

		&:focus {
			background-color: #444;
			border-color: #000;
		}
	}
}

.login-form {

	&-divider {
		border: none;
		height: 0;
		display: block;
	}

	&-title {
		display: flex;
		align-items: center;
		color: #ccc;
		margin: $gap * 4 0;

		&:before,
		&:after {
			border-top: 1px solid #eee;
			content: "";
			flex-grow: 1;
		}

		&:before {
			margin-right: 1rem;
		}

		&:after {
			margin-left: 1rem;
		}
	}

	&-recaptcha {
		margin: 0 $gap*-3 $gap * 2;

		.g-recaptcha > div {
			margin: 0 auto;
		}
	}

}

.login {

	&-tagline {
		color: #888;
		text-align: center;

		+ p,
		+ div {
			margin-top: 24px;
		}
	}

	form {

		#reg_passmail {
			margin-bottom: $gap * 2;
			color: $color-orange;
			text-align: center;
		}

		.forgetmenot {
			margin-bottom: $gap * 2 !important;
		}

		p.submit {
			margin-top: $gap * 2 !important;

			input.button-primary {
				height: auto;
				box-sizing: border-box;
				width: 100%;
				padding: $gap 0;
				display: block;
				float: none;
			}
		}
	}
}

// 登録フォームのデザイン
.login-action-register {
	#user_login,
	#user_message {
		margin-bottom: 5px;
	}
}

.login-action-register #user_login + span,
.user-registration-description {
	display: block;
	margin-bottom: 16px;
	color: #888;
	font-size: 11px;
}

#user_message2 {
	display: none;
}

#wpg-login {
	margin: 24px 0;
}
