// Slick
$slick-loader-path: "../img/" !default;
$slick-arrow-color: #888;


$gutter: 40px;
$gutter-lg: $gutter * 1.5;
$gutter-xl: $gutter * 2;
$gutter-md: $gutter / 2;
$gutter-sm: $gutter / 3;
$gutter-xs: $gutter / 4;

//
//
// 色の設定
//
// ----------------------
//
$gray-100: #f7f8f6;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #212529;

$yellow: #E8BA73;

$primary:       #346ea2;
$secondary:     #9FAC9E;
$success:       #8fb38e;
$info:          #93ccdD;
$warning:       #b6a076;
$danger:        #D63B31;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark,
	"default":    $gray-700,
);

$base-color: $gray-700;
$thin-border: #eee;
$zebra-bg: #f9f9f9;
$solid-border: $base-color;

$footer-navbar-bg: #242424;

// 文字
$blue-font: #173e59;
$little-shade-font: $gray-700;
$shade-font: $gray-600;
$more-shade-font: $gray-500;
$clear-font: #000;
$inverse-body: #fff;
$start-font: #ff0;
$hover-bg: #feffd3;

// リンク
$link-active: red;
$link-hover-bg: #fffcde;
$link-active-bg: #fffecc;

// ソーシャルアイコンの色
$amazon-color: #f90;
$hametuha-color: #000;
$facebook-color: #3c5a95;
$twitter-color: #58aceb;
$google-color: #db4b3e;
$line-color: #00da13;
$youtube-color: #d70000;
$hatena-color: #576cea;
$instagram-color: #833ab4;
$github-color: #333;
$minicome-color: #252525;
$pocket-color: #f04057;
$pinterest-color: #e70023;
$brand-colors: (
	"amazon": $amazon-color,
	"hametuha": $hametuha-color,
	"facebook": $facebook-color,
	"twitter": $twitter-color,
	"google": $google-color,
	"line": $line-color,
	"hatena": $hatena-color,
	"instagram": $instagram-color,
	"github": $github-color,
	"minicome": $minicome-color,
	"pocket": $pocket-color,
	"pinterest": $pinterest-color,
);

// Brand colors.
@each $brand in (
	facebook $facebook-color,
  twitter $twitter-color,
  google $google-color,
  line $line-color,
  ha $hametuha-color,
  hatebu $hatena-color,
  instagram $instagram-color,
  github $github-color,
  minicome $minicome-color,
  youtube $youtube-color,
  pocket $pocket-color,
  hatena $hatena-color,
) {
	[class^="icon-#{nth($brand, 1)}"] {
		color: nth($brand, 2) !important;
	}
}

// ボーダー
$divide-border: 3px double $thin-border;
$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 3px;
$border-radius:    4px;
$border-radius-sm: 2px;
$border-radius-lg: 5px;

// アイコンを読み込む
@mixin hameticon() {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-family: "hameticon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//
//
// フォントの設定
//
// ----------------------
//
// Boostrap
$font-family-sans-serif:  "Helvetica Neue", helvetica, 'Noto Sans JP', yugothic,"游ゴシック",sans-serif;
$font-family-serif:       georgia, 'Noto Serif JP', "游明朝体", "Yu Mincho", yumincho, serif;
// type square
$work-body: tsukuaoldminpr6n-r, serif;
$work-bold: tsukuaoldminpr6-e, serif;
$work-title: tsukuboldminpr6-r, serif;
$work-body-sans: dnpshueigokinstd-l, sans-serif;
$work-bold-sans: tsukuoldgothicstd-b, sans-serif;

.text-justify {
	text-align: justify;
	text-justify: inter-ideograph;
}

