/*
--------------------------

Announcement Content

--------------------------
*/

/* 公認マーク */
.official-watermark{
	position: absolute;
	top: -20px;
	right: 0;
}
h1.thumbnail{
	.official-watermark{
		top: 10px;
	}
}
/* イベント詳細 */
.event-detail{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
	padding: 10px 0;
	.event-table{
		width: 400px;
		float: left;
		font-size: 0.85em;
		th{
			color: #888;
			width: 5em;
			vertical-align: top;
		}
		td{
			font-weight: bold;
		}
		th,
		td{
			padding-top:10px;
			padding-bottom:10px;
		}
	}
	#gmap-announcement{
		width:200px;
		height:200px;
		border:1px solid #ddd;
		background-color: #f1f1f1;
		float:right;
	}
	#participating-form{
		width:200px;
		padding:20px 0 20px 20px;
		border-left:1px solid #ddd;
		float:right;
		font-size:0.85em;
		line-height: 1.4;
		form{
			h4{
				margin-top:0;
			}
			p {
				margin:10px 0;
			}
		}
		textarea{
			width:95%;
		}
		input[type=file]{
			width: 200px;
			font-size:10px;
		}
		p.description{
			font-size:11px;
			margin:5px 0;
		}
	}
	.please-login{
		background: url('#{$image-dir}/single_nocomment_bg.gif') left center no-repeat;
		padding-left:40px;
		padding-bottom:20px;
	}
	.event-table{
		width:400px;
		float:left;
		font-size:0.85em;
		th{
			color:#888;
			width:5em;
			vertical-align: top;
		}
		td{
			font-weight: bold;
		}
		th,
		td{
			padding-top:10px;
			padding-bottom:10px;
		}
	}
}



ol.participating-posts{
	padding:0;
	margin:10px 0;
	border-top:1px dotted #00284F;
	li{
		margin:0;
		list-style: decimal-leading-zero inside;
		padding: 10px 10px 10px 1.5em;
		border-bottom: 1px dotted #00284F;
		&.even{
			background-color: #f1f1f1;
		}
	}
}

/* チケット詳細 */
.hametu-ticket-wrap{
	padding: 10px 0;
	background: #f0f0f0;
	table{
		width: 100%;
		border-collapse: collapse;
		margin: 10px 0;
		caption{
			text-align: center;
			font-weight: bold;
			color: #f99;
			&.outdated{
				color: #999;
			}
		}
		th, td{
			padding: 1em;
		}
		.price{
			text-align: center;
			width: 6em;
		}
		.stock{
			text-align: center;
			width: 6em;
		}
		.buy-ticket{
			text-align: center;
		}
		thead{
			th{
				font-weight: bold;
				border-bottom: 2px solid #fff;
				text-align: center;
			}
		}
		tbody{
			.meta{
				td, th{
					border-bottom: 2px dotted #fff;
				}
				th{
					font-weight: bold;
					text-align: center;
				}
				td{
					border-left: 2px dotted #fff;
					&.no{
						width: 3em;
						border-right: 2px dotted #fff;
						color: #888;
					}
				}
			}
			.desc{
				td{
					border-bottom: 2px solid #fff;
					&.ticket-detail{
						font-size: 0.85em;
					}
					&.buy-ticket{
						border-left: 2px dotted #fff;
					}
				}
			}
		}
	}
	.ticket-notes{
		padding: 10px;
		color: #888;
		font-size: 0.85em;
		.refund-condition{
			text-align: right;
			span{
				padding: 0.5em;
				color: #fff;
				background: orange;
				@include border-radius(3px);
			}
		}
	}
}