@charset "utf-8";
/*
--------------------------

Common Settings

--------------------------
*/

/* Color */
$link-blue: #06c;
$visited: #385bcc;
$hover: #b01f24;
$text: #333;
$error-text: #ff4d44;
$success-text: #059119;
$notice-text: #05a;
$warning-text: #e6db55;


/* Font family */
$gothic: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ",'Meiryo',sans-serif;
$serif:  baskerville,'palatino linotype',georgia,serif;
$mincho: 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', "IPA P明朝", "細明朝体","ヒラギノ明朝体3","メイリオ",'Meiryo', 'MS Pゴシック', serif;
$old:'Georgia', serif;
$mono:'Consolas', 'Courrier', 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;
@mixin text-emphasis{
	-webkit-text-emphasis-style: filled sesame;
	text-emphasis-style: filled sesame;
}



/* border */
@mixin border-radius($radius: 10px){
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* box-shadow */
@mixin box-shadow($prop: inset 1px 1px 1px #9B9B9B){
	-moz-box-shadow: $prop;
	-webkit-box-shadow: $prop;
	-o-box-shadow: $prop;
	box-shadow: $prop;
}

@mixin box-shadow-double($prop1, $prop2){
	-moz-box-shadow: $prop1, $prop2;
	-webkit-box-shadow: $prop1, $prop2;
	box-shadow: $prop1, $prop2;
}

/* image */
@mixin background($color: transparent, $image: '', $left:left, $top:top, $repeat: no-repeat){
	background: $color url('../../img/#{$image}') $left $top $repeat;
}
$image-dir: '../../img';

/*------------------------
  Global Settings 
 */


.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility: hidden;
    }
   .clearfix{display: inline-block;} 
    /* Hides from IE Mac */
    * html .clearfix {height: 1%;}
       .clearfix{display: block;}
    /* End Hack */ 

/* Clear */
.clrB{clear: both;}
.clrL{clear: left;}
.clrR{clear: right;}

/* Link */
a{
	&:link{
		text-decoration: underline;
		color: $link-blue;
	}
	&:visited{
		text-decoration: underline;
		color: $visited;
	}
	&:hover{
		text-decoration: none;
		color: $hover;
	}
	&:active{
		text-decoration: none;
		color:$hover;
		overflow: hidden;
	}
	&:focus{
		overflow: hidden;
	}
}


/*------------------------
  Layouts Container
 */
$body-width: 960px;

.margin{
	width: $body-width;
	margin:0 auto;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.aligncenter{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}