extends _layout

block vars
    -
        var textColors = JSON.parse(JSON.stringify(labels));;
        delete textColors['default'];
        textColors.muted = 'ミュート';

block content
    .container
        .page-header
            h1 ヘルパークラス
        for color in textColors
            p(class='text-#{color}') これはtext-#{color}をつけた段落です。色が変わります。
        for label, type in labels
            unless (type == 'default' || type == 'link')
                p(class='bg-#{type}') これはbg-#{type}をつけた段落です。背景色が変わります。

