extends _layout

block vars
  - const title = 'タイポグラフィ';

  -
    const headers = {};
    for ( let i = 1; i <= 6; i++ ) {
      headers['h' + i] = '見出し' + i;
    }

block content
  .container
    .post-content
      for label, tag in headers
        for className in [ 'has-text-align-center', 'has-text-align-left', 'has-text-align-right' ]
          #{tag}(class=className)=label
    .post-content
      include:markdown-it ./content.md
