extends _layout

block vars

block content
    .container
        .page-header
            h1 アラート
        for msg, type in msgs
            div(class="alert alert-#{type}" role='alert')
                strong=msg.strong
                |#{msg.body}

