extends _layout

block vars

block content
    .container
        // Jumbotron
        .jumbotron
            h1 お台所の流し
            p これはTwitter Bootstrapのためのキッチンシンクです。自分のスタイルがきちんと適用されているか、確認してください。
            p
                a.btn.btn-primary.btn-lg(href='#') 確認する

