extends _layout

block vars
    - var title = 'Navigations';

block content
    .container
        each label, nav in {tabs: 'タブ', pills: 'ピル'}
            h3=label
            ul(class="nav nav-#{nav}", role='tablist')
                li.active(role='presentation')
                    a(href='#') ホーム
                li(role='presentation')
                    a(href='#') プロフィール
                li(role='presentation')
                    a(href='#') メッセージ
        h3 ぱんくず
        ol.breadcrumb
            li
                a(href='#') ホーム
            li
                a(href='#') 二階層目
            li
                a(href='#') 三階層目
            li.active 現在のページ
        h3 ページネーション
        nav
            ul.pagination
                li.disabled
                    span &laquo;
                li.active
                    a(href='#') 1
                for i in [2, 3, 4, 5]
                    li
                        a(href='#') #{i}
                li
                    a(href='#') &raquo;
        h3 ページャー
        nav
            ul.pager
                li.previous.disabled
                    a(href='#') &larr; 前へ
                li.next
                    a(href='#') 次へ &rarr;
