extends _layout

block vars

block content
    .container
        .page-header
            h1 ウェル
        for label, size in {'': '普通のウェル', 'well-lg': '大きいウェル', 'well-sm': '小さいウェル'}
            div(class='well #{size}')
                p
                    |これは#{label}です。ところで、
                    code wells
                    |ってなんでしょう？
