extends _layout

block vars

block content
    .container
        .page-header
            h1 見出し
        for index in [1, 2, 3, 4, 5, 6]
            - var tagName = 'h'+ index;
            #{tagName}
                |これは見出し#{index}
                small スモールタグ

