extends _layout

block vars

block content

    .container.post-content
        .page-header
            h1 マークアップ
        p
            |これは普通の段落です。可読性を試してください。
            |寿限無、寿限無 五劫の擦り切れ
            |海砂利水魚の水行末 雲来末 風来末
            |食う寝る処に住む処 藪ら柑子の藪柑子
            |パイポパイポ パイポのシューリンガン
            |シューリンガンのグーリンダイ
            |グーリンダイのポンポコピーのポンポコナーの長久命の長助
        p.lead これはクラス<code>.lead</code>がついたテキストです。すこし大きくなります。リード文などにいいでしょう。
        p
            |インライン要素の代表的なものには<strong>つよい強調</strong>やと<em>弱い強調</em>があり、
            |後者は普通<i>イタリック</i>で表示されます。
            |削除を示す場合は<code>del</code>タグを用いて、<del>これを消す</del>といった具合に使用します。
            |あらたに挿入されたテキストには<ins>ここが挿入された</ins>といったタグも用意されています。
            br
            small ※小さなテキストは注釈として使うことが想定されているようです。
            br
            |略語として<code>abbr</code>タグというのがあります。
            |たとえば、<abbr title='Hyper Text Markup Language'>HTML</abbr>のように使います。
            |インラインの引用としては<q>Stay hungry, stay foolish - Steve Jobs</q>と<code>q</code>タグが使えます。
            |あんまり使いませんが、ユーザーに<kbd>ctrl + ,</kbd>と入力してもらえる<code>kbd</code>タグもあります。
        blockquote
            p これはブロック引用です。長い引用を行う時はこれを使いましょう。
            p といっても、引用されるようなことはあまり思いつかないのですがね。
            p.text-right
                cite TAROSKY INC.
        pre.
            //preタグにはコードブロックなどを書くのが普通です。
            var foo = 'bar';
