extends _layout

block vars
    - var title = 'Panels';

block content
    .container
        .row
            for label, type in labels
                .col-sm-4
                    div(class='panel panel-#{type}')
                        .panel-heading
                            h3.panel-title #{label}パネル
                        .panel-body パネルの本文がここになります。
                        .panel-footer フッターです
