.series {
	&__inner{
	}
	&__row {
		padding: 2em 0;
		&--cover {
			background-color: $brand-primary;
			color: #fff;
			text-shadow: 0 0 3px rgba(0, 0, 0, .8);
		}
		&--author {
			background-color: #ebebeb;
		}
		&--testimonials {
			background-color: #f9f9f9;
		}
		&--share {
			background: #ebebeb;
			.work-wrapper + & {
				background: transparent;
			}
		}
		&--single {
			margin: 1em 0;
			img {
				margin-bottom: 1em;
				max-width: 200px;
				width: auto;
				height: auto;
			}
		}
	}

	// メタ情報
	&__meta {
		&--thumbnail {
			max-height: 200px;
			overflow: visible;
			@media (max-width: $screen-xs-max) {
				max-height: none;
			}
			img {
				max-width: 240px;
				width: auto;
				height: auto;
				@include box-shadow(0 0 5px rgba(0, 0, 0, 0.6));
			}
		}
	}

	// 題字
	&__title {
		&--work {
			color: #fff;
			display: block;
			padding-bottom: 0.25em;
			border-bottom: 3px double #fff;
		}
		&--headline {
			margin-left: 0.5em;
			color: inherit;
		}
		&--represent {
			color: #fff;
			display: block;
			padding-top: 0.25em;
		}

		&--author,
		&--share,
		&--review,
		&--testimonials {
			color: #444;
		}
		&--amazon,
		&--list,
		&--related {
			color: #999;
		}
		&--author,
		&--list {

			@include mq-max( $screen-xs-max ) {
				text-align: center;
				margin-bottom: 2em;
			}
		}
		&--caption {
			display: block;
			color: inherit;
			font-size: 0.5em;
			margin-bottom: 0.25em;
		}
	}
	&__excerpt {
		margin: 2em 0;
	}

	&__link {
		a:nth-child(3) {
			margin-left: 1em;
			@media only screen and (max-width: #{$screen-sm-max}) {
				margin-top: 0.5em;
				margin-left: 0;
			}
		}
		&--divider {
			display: none;
			@media only screen and (max-width: #{$screen-sm-max}) {
				display: block;
			}
		}
	}

	// 値段
	&__price {
		color: #ef9936;
		font-size: 1.4em;
		strong {
			font-size: 1.4em;
		}
	}

	// ステータス
	&__status {
		padding-left: 0;
		li {
			list-style: none;
			color: #666;
		}
		i.ok {
			color: $brand-success;
		}
		i.ng {
			color: $brand-danger;
		}
	}

	// 著者
	&__author {
		padding: 1em 0;
		min-height: 100px;
		border-bottom: 1px solid #ddd;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
		&--photo {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 80px;
			@include mq-max( $screen-xs-max ) {
				width: 60px;
			}
		}
		.avatar {
			max-width: 100%;
			width: auto;
			height: auto;
			vertical-align: middle;
		}
		&--desc {
			margin: 1em 0;
		}
		&--longdesc {
			@include long-desc(#ebebeb);
		}
		&--profile {
			position: relative;
			padding-left: 100px;
			@include mq-max( $screen-xs-max ) {
				padding-left: 80px;
			}

			h3 {
				margin-top: 0;
				padding-right: 100px;
			}

			.btn {
				position: absolute;
				right: 0;
				top: 0;
			}
		}

	}


	// 作品一覧
	&__list {
		padding-left: 0;
	}
	&__item {
		list-style: none;
		border-bottom: 1px solid #ddd;
		&:first-child {
			@include mq-max( $screen-xs-max ) {
				border-top: 1px solid #ddd;
			}
		}
		&:last-child {
			border-bottom: none;
		}
		&--link {
			display: block;
			position: relative;
			transition: color .3s linear;
			&:link {
				color: #000;
				text-decoration: none;
			}
			&:visited {
				color: #444;
				text-decoration: none;
			}
			&:hover,
			&:active {
				text-decoration: none;
				color: $brand-primary;
			}
		}
		&--meta {
			margin-bottom: 10px;
		}
		&--title {
			font-family: $work-body;
			display: inline;
			font-size: 1.4em;
			@at-root a:visited &:after {
				content: "";
			}
		}
		&--counter{
		}
		&--author {
			font-family: $work-body;
			float: right;
			margin-left: 1em;
		}
		&--body {
			padding: 20px;
		}
		&--info {
			color: #888;
			margin-bottom: 10px;
		}
		&--excerpt {
			margin-top: 10px;
			font-family: $work-body;
			color: #444;
			p {
				margin: 0;
				line-height: 1.4;
			}
		}
	}

	&__follow {
		text-align: center;
	}


	// Series Testimonial
	&__testimonials {
		&--stars {
			i {
				font-size: 3em;
				margin: 0 0.2em;

			}
			strong {
				font-size: 1.5em;
			}
			small {
				font-size: 1.2em;
				color: #888;
			}
		}
	}
}

